*{
    padding:0;
    margin:0;
    box-sizing: border-box; /* To adjust the content in the container */
}

body{
    background-image: linear-gradient(MediumSeaGreen,white);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    font-size: 2.5rem;
}

button{
    background-color:black;
    color:white;
    padding:1rem 2rem;
    font-size:1.5rem;
    font-family: cursive;
    margin: 1rem;
}
